<ion-modal-view cache-view="false" view-title="Messages">
	<ion-header-bar class="bar-positive">

		<h1 class="title">Messages to {{matc.currentMatchUser.name}}</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-close" ng-click="matc.closeMessageModal()"></button>
		</div>
	
	</ion-header-bar>

      <ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">

        <div ng-repeat="message in matc.messages" class="message-wrapper">

          <div ng-if="message.uid === matc.currentMatchUser.$id">

            <img class="profile-pic left" ng-src="{{matc.currentMatchUser.avatar}}"/>

            <div class="chat-bubble left">

              <div class="message" ng-bind-html="message.body"></div>

              <div class="message-detail">
                <span>{{message.timestamp | date:'short' }}</span>
              </div>

            </div>

          </div>

          <div ng-if="message.uid === matc.currentUser.$id">

            <img class="profile-pic right" ng-src="{{matc.currentUser.avatar}}"/>

            <div class="chat-bubble right">

              <div class="message" ng-bind-html="message.body">
              </div>

              <div class="message-detail">
                <span>{{message.timestamp | date:'short' }}</span>
              </div>

            </div>

          </div>

          <div class="cf"></div>

        </div>
      </ion-content>

      <form name="sendMessageForm" ng-submit="matc.sendMessage()" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
          <label class="item-input-wrapper">
            <textarea ng-model="matc.message" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!matc.message || matc.message === ''">
            </button>
          </div>
        </ion-footer-bar>
      </form>

</ion-modal-view>